.navbar {
  text-decoration: none;
  padding: 15px;
  background-color: black;
}

.navbar-item {
  display: inline;
  border-right: 1px solid #bbb;
}

.navbar-item-button {
  text-decoration: none;
  color: #ffffff;
  padding: 12px 24px;
  font-size: 15px;
  text-transform: uppercase;
}
